.container {
    display: flex;
    flex-wrap: wrap;
  }
  .component1, .component2 {
    width: 60%;
    box-sizing: border-box;
  }

  th {
    white-space: normal;
    word-wrap: break-word;
    height: auto;
  }
  
  